@import url(all.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot") format("embedded-opentype"), url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg#NexaBold") format("svg"); }
@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/RalewayBold.eot");
  src: url("../fonts/RalewayBold.eot") format("embedded-opentype"), url("../fonts/RalewayBold.woff2") format("woff2"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype"), url("../fonts/RalewayBold.svg#RalewayBold") format("svg"); }
@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans.eot");
  src: url("../fonts/opensans.eot") format("embedded-opentype"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype"), url("../fonts/opensans.svg#opensans") format("svg"); }
@font-face {
  font-family: 'RalewayMedium';
  src: url("../fonts/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium.eot") format("embedded-opentype"), url("../fonts/RalewayMedium.woff2") format("woff2"), url("../fonts/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium.ttf") format("truetype"), url("../fonts/RalewayMedium.svg#RalewayMedium") format("svg"); }
@font-face {
  font-family: 'RalewaySemiBold';
  src: url("../fonts/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold.eot") format("embedded-opentype"), url("../fonts/RalewaySemiBold.woff2") format("woff2"), url("../fonts/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold.ttf") format("truetype"), url("../fonts/RalewaySemiBold.svg#RalewaySemiBold") format("svg"); }
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight.eot") format("embedded-opentype"), url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype"), url("../fonts/OpenSansLight.svg#OpenSansLight") format("svg"); }
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSansSemibold.eot");
  src: url("../fonts/OpenSansSemibold.eot") format("embedded-opentype"), url("../fonts/OpenSansSemibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold.woff") format("woff"), url("../fonts/OpenSansSemibold.ttf") format("truetype"), url("../fonts/OpenSansSemibold.svg#OpenSansSemibold") format("svg"); }
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 1170px;
  margin: auto; }
  @media screen and (max-width: 575px) {
    .container {
      width: auto; } }
  @media screen and (max-width: 769px) {
    .container {
      max-width: 720px; } }
  @media screen and (max-width: 1041px) {
    .container {
      max-width: 991px; } }

.container::after {
  content: "";
  display: block;
  clear: both; }

header {
  width: 100%;
  position: absolute;
  background-color: #24282f;
  z-index: 500; }
  @media screen and (max-width: 1041px) {
    header {
      position: static; } }
  @media screen and (max-width: 769px) {
    header {
      position: static; } }
  header a {
    float: left;
    margin: 40px 0 0;
    text-decoration: none; }
    @media screen and (max-width: 1041px) {
      header a {
        margin: 40px 0 0 40px; } }
    @media screen and (max-width: 769px) {
      header a {
        margin: 5px 0 0 5px;
        width: auto; } }
    @media screen and (max-width: 575px) {
      header a {
        display: block;
        margin: auto;
        text-align: center;
        float: none; } }
    @media screen and (max-width: 470px) {
      header a {
        display: block;
        margin: 35px 0 0;
        text-align: center;
        float: left;
        width: 54%; } }
    header a img {
      width: auto;
      margin-top: 2px; }
    header a span {
      color: white;
      text-transform: uppercase;
      margin-left: 32px;
      font-size: 26px;
      font-family: 'NexaBold'; }
  @media screen and (max-width: 575px) {
    header nav {
      text-align: center; } }
  @media screen and (max-width: 470px) {
    header nav {
      text-align: center;
      width: 30%;
      float: right; } }
  header nav ul {
    float: right;
    list-style: none;
    display: inline-block;
    margin-top: 45px; }
    @media screen and (max-width: 769px) {
      header nav ul {
        margin: 5px 0 0; } }
    @media screen and (max-width: 575px) {
      header nav ul {
        float: none;
        text-align: center; } }
    @media screen and (max-width: 470px) {
      header nav ul {
        float: left; } }
  header nav li {
    float: right;
    margin-left: 34px; }
    @media screen and (max-width: 769px) {
      header nav li {
        margin: auto; } }
    @media screen and (max-width: 470px) {
      header nav li {
        float: left; } }
  header nav a:first-child {
    padding: 0 16px 43px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid 2px transparent;
    color: white;
    font-size: 14px;
    font-family: 'NexaBold';
    margin: 0; }
    @media screen and (max-width: 575px) {
      header nav a:first-child {
        padding-bottom: 15px; } }
    @media screen and (max-width: 470px) {
      header nav a:first-child {
        padding: 0 15px 0px;
        border-top: solid 2px transparent;
        border-left: solid 2px transparent;
        font-size: 12px;
        border-bottom: none; } }
  header nav li:hover a {
    border-color: #b5a263; }
  header ul:after {
    content: "";
    display: block;
    clear: both; }

section {
  background: rgba(37, 41, 48, 0.96);
  position: relative;
  width: 100%; }
  @media screen and (max-width: 575px) {
    section {
      background-color: #252930;
      border-top: solid 1px #b5a263; } }
  section img {
    width: 100%;
    position: relative;
    z-index: -1; }
    @media screen and (max-width: 575px) {
      section img {
        display: none; } }
  section h1 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'RalewayBold'; }
    @media screen and (max-width: 769px) {
      section h1 {
        text-align: center;
        font-size: 30px; } }
    @media screen and (max-width: 575px) {
      section h1 {
        font-size: 20px; } }
  section p {
    color: white;
    font-size: 14px;
    font-family: 'opensans'; }
    @media screen and (max-width: 769px) {
      section p {
        text-align: center; } }
    @media screen and (max-width: 575px) {
      section p {
        font-size: 10px; } }
  section .container {
    position: absolute;
    bottom: 25%;
    left: 15%;
    max-width: 45%;
    margin-bottom: -30px; }
    @media screen and (max-width: 1041px) {
      section .container {
        text-align: center;
        left: 27%;
        bottom: 35%; } }
    @media screen and (max-width: 769px) {
      section .container {
        max-width: 100%;
        margin: auto;
        left: 0; } }
    @media screen and (max-width: 575px) {
      section .container {
        position: static; } }

.section_2 {
  background-color: white;
  width: 100%;
  padding-top: 155px; }
  @media screen and (max-width: 1040px) {
    .section_2 {
      padding-top: 90px; } }
  @media screen and (max-width: 769px) {
    .section_2 {
      padding-top: 40px;
      margin: auto;
      text-align: center; } }
  .section_2 .container {
    text-align: center; }
  .section_2 h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'RalewaySemiBold';
    margin: 0 0 30px; }
  .section_2 .line {
    display: block;
    width: 80px;
    border-top: solid 2px #b5a263;
    margin: auto;
    padding-bottom: 34px;
    background-color: transparent; }
  .section_2 .block {
    display: inline-block;
    margin-right: 5%;
    width: 25%;
    padding-bottom: 40px; }
    @media screen and (max-width: 769px) {
      .section_2 .block {
        margin-right: 5%;
        width: 20%; } }
    @media screen and (max-width: 470px) {
      .section_2 .block {
        width: 100%;
        margin-bottom: 20px;
        border-top: solid 2px #b5a263;
        display: block; } }
    .section_2 .block img {
      width: 100%; }
    .section_2 .block p {
      float: left;
      display: block;
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'RalewayMedium'; }
      @media screen and (max-width: 1041px) {
        .section_2 .block p {
          font-size: 12px; } }
      @media screen and (max-width: 769px) {
        .section_2 .block p {
          margin-top: 10px;
          float: none;
          font-size: 12px; } }
      @media screen and (max-width: 470px) {
        .section_2 .block p {
          float: left; } }
      .section_2 .block p span {
        text-transform: none;
        font-size: 14px;
        color: #b5a263;
        font-family: 'opensans'; }
        @media screen and (max-width: 1041px) {
          .section_2 .block p span {
            font-size: 10px; } }
    .section_2 .block a {
      float: right;
      width: 34px;
      height: 34px;
      text-align: center;
      font-size: 15px;
      background-color: #dedede;
      margin: 30px 7px 0 0;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      -ms-border-radius: 18px;
      border-radius: 18px; }
      @media screen and (max-width: 769px) {
        .section_2 .block a {
          margin-top: 10px;
          margin-right: 15px;
          width: 25px;
          height: 25px; } }
      @media screen and (max-width: 575px) {
        .section_2 .block a {
          margin-right: 1px;
          margin-left: 0; } }
    .section_2 .block a:hover {
      color: white;
      background-color: #b5a263; }
    .section_2 .block .fab {
      margin: 10px; }
      @media screen and (max-width: 769px) {
        .section_2 .block .fab {
          margin: 5px; } }
  .section_2 .btn {
    max-width: 165px;
    line-height: 48px;
    background-color: transparent;
    display: block;
    border: solid 1px black;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'opensans';
    margin: auto; }
  .section_2 .btn:hover {
    color: white;
    background-color: #b5a263;
    border: transparent; }

.section_3 {
  padding: 120px 0;
  width: 100%;
  background-color: #f7f7f7; }
  .section_3 .line {
    display: block;
    width: 80px;
    border-top: solid 2px black;
    margin: auto;
    padding-bottom: 34px;
    background-color: transparent; }
  @media screen and (max-width: 769px) {
    .section_3 .container {
      width: 70%; } }
  @media screen and (max-width: 470px) {
    .section_3 .container {
      width: 51%; } }
  @media screen and (max-width: 470px) {
    .section_3 .container .owl-carousel.owl-loaded {
      display: block;
      max-height: 100%; } }
  .section_3 .container .owl-item:active {
    width: 163px; }
  .section_3 h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'RalewaySemiBold';
    margin: 0 0 30px; }
  .section_3 .avatar {
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    background-image: url("../images/Layer 23.png"); }
  .section_3 p {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'OpenSansLight'; }
    @media screen and (max-width: 470px) {
      .section_3 p {
        text-align: left;
        font-size: 10px; } }
  .section_3 h3 {
    text-align: center;
    font-size: 16px;
    color: #b5a263;
    margin-top: 48px;
    font-family: 'OpenSansSemibold'; }
    @media screen and (max-width: 470px) {
      .section_3 h3 {
        text-align: left; } }
  .section_3 .owl-nav .owl-prev:after {
    display: block;
    content: "";
    /*font-size: 25px;*/
    color: black;
    border: solid black 2px;
    border-bottom: none;
    border-right: none;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px; }
  .section_3 .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    right: 95%;
    margin-right: 50px;
    outline: none; }
  .section_3 .owl-nav .owl-next:after {
    display: block;
    content: "";
    /*font-size: 25px;*/
    color: black;
    border: solid black 2px;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    width: 10px;
    height: 10px; }
  .section_3 .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    left: 95%;
    margin-left: 50px;
    outline: none; }
  .section_3 p:last-child {
    margin: auto;
    font-family: 'opensans';
    padding-top: 14px; }

footer {
  background-color: #24282f; }
  footer .background {
    background-color: #2b2f35;
    width: auto;
    padding: 80px 0 70px; }
    @media screen and (max-width: 769px) {
      footer .background {
        padding: 40px 0 30px; } }
  footer .block {
    display: inline-block;
    width: 25%;
    float: left;
    margin-right: 5%; }
    @media screen and (max-width: 769px) {
      footer .block {
        width: 45%;
        float: none;
        margin-right: 4%;
        text-align: center; } }
    @media screen and (max-width: 470px) {
      footer .block {
        display: none; } }
    footer .block h3 {
      font-size: 14px;
      color: #b5a263;
      font-family: 'OpenSansSemibold'; }
      @media screen and (max-width: 575px) {
        footer .block h3 {
          font-size: 12px; } }
    footer .block p {
      font-size: 14px;
      color: #6e7279;
      font-family: 'opensans';
      margin-top: 25px; }
      @media screen and (max-width: 769px) {
        footer .block p {
          margin-top: 25px;
          margin-left: 15px;
          text-align: left; } }
      @media screen and (max-width: 575px) {
        footer .block p {
          font-size: 9px; } }
  footer form {
    width: 30%;
    float: right; }
    @media screen and (max-width: 769px) {
      footer form {
        width: 50%;
        float: none;
        margin: auto; } }
    @media screen and (max-width: 470px) {
      footer form {
        width: 90%; } }
    footer form label {
      display: block;
      width: 100%;
      font-size: 14px;
      color: #b5a263;
      font-family: 'opensans';
      text-transform: uppercase; }
      @media screen and (max-width: 769px) {
        footer form label {
          text-align: center; } }
    footer form input {
      margin-top: 25px;
      width: 100%;
      text-indent: 1.5em;
      line-height: 35px;
      color: #6e7279;
      border: solid 1px #6e7279;
      background-color: transparent; }
    footer form button {
      width: 100%;
      line-height: 35px;
      margin-top: 12px;
      background-color: #b5a263;
      color: white;
      font-size: 14px;
      font-family: 'opensans';
      text-transform: uppercase;
      border: #b5a263; }
  footer p {
    float: left;
    margin: 27px 0 30px;
    font-size: 12px;
    color: #6e7279;
    font-family: 'opensans'; }
    @media screen and (max-width: 769px) {
      footer p {
        margin-left: 15px; } }
    @media screen and (max-width: 575px) {
      footer p {
        font-size: 8px; } }
  footer a {
    float: right;
    width: 32px;
    line-height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    color: #6e7279;
    background-color: transparent;
    border: solid 1px #6e7279;
    font-size: 15px;
    text-align: center;
    margin: 17px 5px 0 15px; }
    @media screen and (max-width: 470px) {
      footer a {
        float: right;
        width: 25px;
        line-height: 25px;
        margin: 17px 10px 0 0; } }
  footer a:hover {
    color: white;
    background-color: #b5a263;
    border: solid 1px transparent; }

/*# sourceMappingURL=style.css.map */
