@import url(all.css);
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot") format("embedded-opentype"), url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg#NexaBold") format("svg"); }
@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/RalewayBold.eot");
  src: url("../fonts/RalewayBold.eot") format("embedded-opentype"), url("../fonts/RalewayBold.woff2") format("woff2"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype"), url("../fonts/RalewayBold.svg#RalewayBold") format("svg"); }
@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans.eot");
  src: url("../fonts/opensans.eot") format("embedded-opentype"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype"), url("../fonts/opensans.svg#opensans") format("svg"); }
@font-face {
  font-family: 'RalewayMedium';
  src: url("../fonts/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium.eot") format("embedded-opentype"), url("../fonts/RalewayMedium.woff2") format("woff2"), url("../fonts/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium.ttf") format("truetype"), url("../fonts/RalewayMedium.svg#RalewayMedium") format("svg"); }
@font-face {
  font-family: 'RalewaySemiBold';
  src: url("../fonts/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold.eot") format("embedded-opentype"), url("../fonts/RalewaySemiBold.woff2") format("woff2"), url("../fonts/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold.ttf") format("truetype"), url("../fonts/RalewaySemiBold.svg#RalewaySemiBold") format("svg"); }
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 1170px;
  margin: auto; }

.container::after {
  content: "";
  display: block;
  clear: both; }

header {
  width: 100%;
  position: absolute;
  background-color: #24282f;
  z-index: 500; }
  header a {
    float: left;
    margin: 40px 0 0;
    text-decoration: none; }
    header a img {
      width: auto;
      margin-top: 2px; }
    header a span {
      color: white;
      text-transform: uppercase;
      margin-left: 32px;
      font-size: 26px;
      font-family: 'NexaBold'; }
  header nav ul {
    float: right;
    list-style: none;
    display: inline-block;
    margin-top: 45px; }
  header nav li {
    float: right;
    margin-left: 34px; }
  header nav a:first-child {
    padding: 0 16px 43px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid 2px transparent;
    color: white;
    font-size: 14px;
    font-family: 'NexaBold';
    margin: 0; }
  header nav li:hover a {
    border-color: #b5a263; }
  header ul:after {
    content: "";
    display: block;
    clear: both; }

section {
  background: rgba(37, 41, 48, 0.96);
  position: relative;
  width: 100%; }
  section img {
    width: 100%;
    position: relative;
    z-index: -1; }
  section h1 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'RalewayBold'; }
  section p {
    color: white;
    font-size: 14px;
    font-family: 'opensans'; }
  section .container {
    position: absolute;
    bottom: 25%;
    left: 15%;
    max-width: 45%;
    margin-bottom: -30px; }

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'RalewaySemiBold';
  margin: 155px 0 30px; }

.line {
  display: block;
  width: 80px;
  border-top: solid 2px #b5a263;
  margin: auto;
  padding-bottom: 34px;
  background-color: transparent; }

.block {
  display: inline-block;
  margin-right: 5%;
  width: 25%;
  padding-bottom: 40px; }
  .block img {
    width: 100%; }
  .block p {
    float: left;
    display: block;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'RalewayMedium'; }
    .block p span {
      text-transform: none;
      font-size: 14px;
      color: #b5a263;
      font-family: 'opensans'; }
  .block a {
    float: right;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 15px;
    background-color: #dedede;
    margin: 30px 7px 0 0;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px; }
  .block .fab {
    margin: 10px; }
  .block p:last-child {
    text-transform: uppercase; }

.btn {
  max-width: 165px;
  line-height: 48px;
  background-color: transparent;
  display: block;
  border: solid 1px black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'opensans';
  margin: auto; }

/*# sourceMappingURL=style.css.map */
