@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/NexaBold.eot');
  src: url('../fonts/NexaBold.eot') format('embedded-opentype'),
  url('../fonts/NexaBold.woff2') format('woff2'),
  url('../fonts/NexaBold.woff') format('woff'),
  url('../fonts/NexaBold.ttf') format('truetype'),
  url('../fonts/NexaBold.svg#NexaBold') format('svg');
}
@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/RalewayBold.eot');
  src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
  url('../fonts/RalewayBold.woff2') format('woff2'),
  url('../fonts/RalewayBold.woff') format('woff'),
  url('../fonts/RalewayBold.ttf') format('truetype'),
  url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans.eot');
  src: url('../fonts/opensans.eot') format('embedded-opentype'),
  url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff'),
  url('../fonts/opensans.ttf') format('truetype'),
  url('../fonts/opensans.svg#opensans') format('svg');
}
@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/RalewayMedium.eot');
  src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'),
  url('../fonts/RalewayMedium.woff2') format('woff2'),
  url('../fonts/RalewayMedium.woff') format('woff'),
  url('../fonts/RalewayMedium.ttf') format('truetype'),
  url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
}
@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/RalewaySemiBold.eot');
  src: url('../fonts/RalewaySemiBold.eot') format('embedded-opentype'),
  url('../fonts/RalewaySemiBold.woff2') format('woff2'),
  url('../fonts/RalewaySemiBold.woff') format('woff'),
  url('../fonts/RalewaySemiBold.ttf') format('truetype'),
  url('../fonts/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
}

@import "all.css";
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

$border_color: #24282f;
$top_color: rgba(37,41,48,0.96);
$bottom_color: #2b2f35;
$white_color: white;
$light_silver_color: #f7f7f7;
$yellow_font: #b5a263;
$gray_font: #6e7279;

*{
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.container::after{
  content: "";
  display: block;
  clear: both;
}
header{
  width: 100%;
  position: absolute;
  background-color: $border_color;
  z-index: 500;
  a{
    float: left;
    margin: 40px 0 0;
    text-decoration: none;
    img{
      width: auto;
      margin-top: 2px;

    }
    span{
      color: $white_color;
      text-transform: uppercase;
      margin-left: 32px;
      font-size: 26px;
      font-family: 'NexaBold';
    }
  }
  nav{
    ul{
      float: right;
      list-style: none;
      display: inline-block;
      margin-top: 45px;
    }
    li{
      float: right;
      margin-left: 34px;
    }
    a:first-child{
      padding: 0 16px 43px;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: solid 2px transparent;
      color: $white_color;
      font-size: 14px;
      font-family: 'NexaBold';
      margin: 0;
    }
    li:hover a{
      border-color: #b5a263;
    }
  }
  ul:after{
    content: "";
    display: block;
    clear: both;
  }
}
section{
background: $top_color;
  position: relative;
  width: 100%;
  img{
    width: 100%;
    position: relative;
    z-index: -1;
  }

    h1{
      color: $white_color;
      text-transform: uppercase;
      font-size: 40px;
      font-family: 'RalewayBold';
    }
    p{
      color: $white_color;
      font-size: 14px;
      font-family: 'opensans';
  }
  .container{
    position: absolute;
    bottom: 25%;
    left: 15%;
    max-width: 45%;
    margin-bottom: -30px;
  }
  }
h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'RalewaySemiBold';
  margin: 155px 0 30px;
}
.line{
  display: block;
  width: 80px;
  border-top:  solid 2px $yellow_font;
  margin: auto;
  padding-bottom: 34px;
  background-color: transparent;
}
.block{
  display: inline-block;
  margin-right: 5%;
  width: 25%;
  padding-bottom: 40px;
  img{
    width: 100%;
  }
  p{
    float: left;
    display: block;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'RalewayMedium';
    span{
      text-transform: none;
      font-size: 14px;
      color: $yellow_font;
      font-family: 'opensans';
    }
  }
  a{
    float: right;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 15px;
    background-color: #dedede;
    margin: 30px 7px 0 0;
    @include border-radius(18px);
  }
  .fab{
      margin: 10px;
  }
  p:last-child{
    text-transform: uppercase;
  }
}
.btn{
  max-width: 165px;
  line-height: 48px;
  background-color: transparent;
  display: block;
  border: solid 1px black;
  @include border-radius(25px);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'opensans';
  margin: auto;
}

