@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/NexaBold.eot');
  src: url('../fonts/NexaBold.eot') format('embedded-opentype'),
  url('../fonts/NexaBold.woff2') format('woff2'),
  url('../fonts/NexaBold.woff') format('woff'),
  url('../fonts/NexaBold.ttf') format('truetype'),
  url('../fonts/NexaBold.svg#NexaBold') format('svg');
}
@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/RalewayBold.eot');
  src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
  url('../fonts/RalewayBold.woff2') format('woff2'),
  url('../fonts/RalewayBold.woff') format('woff'),
  url('../fonts/RalewayBold.ttf') format('truetype'),
  url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans.eot');
  src: url('../fonts/opensans.eot') format('embedded-opentype'),
  url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff'),
  url('../fonts/opensans.ttf') format('truetype'),
  url('../fonts/opensans.svg#opensans') format('svg');
}
@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/RalewayMedium.eot');
  src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'),
  url('../fonts/RalewayMedium.woff2') format('woff2'),
  url('../fonts/RalewayMedium.woff') format('woff'),
  url('../fonts/RalewayMedium.ttf') format('truetype'),
  url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
}
@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/RalewaySemiBold.eot');
  src: url('../fonts/RalewaySemiBold.eot') format('embedded-opentype'),
  url('../fonts/RalewaySemiBold.woff2') format('woff2'),
  url('../fonts/RalewaySemiBold.woff') format('woff'),
  url('../fonts/RalewaySemiBold.ttf') format('truetype'),
  url('../fonts/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
  url('../fonts/OpenSansLight.woff2') format('woff2'),
  url('../fonts/OpenSansLight.woff') format('woff'),
  url('../fonts/OpenSansLight.ttf') format('truetype'),
  url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSansSemibold.eot');
  src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
  url('../fonts/OpenSansSemibold.woff2') format('woff2'),
  url('../fonts/OpenSansSemibold.woff') format('woff'),
  url('../fonts/OpenSansSemibold.ttf') format('truetype'),
  url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}


@import "all.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";


$border_color: #24282f;
$top_color: rgba(37,41,48,0.96);
$bottom_color: #2b2f35;
$white_color: white;
$light_silver_color: #f7f7f7;
$yellow_font: #b5a263;
$gray_font: #6e7279;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

*{
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}
.container{
  max-width: 1170px;
  margin: auto;
  @include max-screen(767px){
    width: 100%;
  }
}
.container::after{
  content: "";
  display: block;
  clear: both;
}
header{
  width: 100%;
  position: absolute;
  background-color: $border_color;
  z-index: 500;
  @include max-screen(767px){
      position: static;
  }
  a{
    float: left;
    margin: 40px 0 0;
    text-decoration: none;
    @include max-screen(767px){
        margin: 5px 0 0 5px;
      width: auto;
    }
    img{
      width: auto;
      margin-top: 2px;

    }
    span{
      color: $white_color;
      text-transform: uppercase;
      margin-left: 32px;
      font-size: 26px;
      font-family: 'NexaBold';
    }
  }
  nav{
    ul{
      float: right;
      list-style: none;
      display: inline-block;
      margin-top: 45px;
      @include max-screen(767px){
        margin: 5px 0 0;
      }

    }
    li{
      float: right;
      margin-left: 34px;
      @include max-screen(767px){
        margin: auto;
      }
    }
    a:first-child{
      padding: 0 16px 43px;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: solid 2px transparent;
      color: $white_color;
      font-size: 14px;
      font-family: 'NexaBold';
      margin: 0;
    }
    li:hover a{
      border-color: #b5a263;
    }
  }
  ul:after{
    content: "";
    display: block;
    clear: both;
  }
}
section{
background: $top_color;
  position: relative;
  width: 100%;
  img{
    width: 100%;
    position: relative;
    z-index: -1;
  }

    h1{
      color: $white_color;
      text-transform: uppercase;
      font-size: 40px;
      font-family: 'RalewayBold';
      @include max-screen(767px){
        text-align: center;
        font-size: 30px;
      }
    }
    p{
      color: $white_color;
      font-size: 14px;
      font-family: 'opensans';
      @include max-screen(767px){
        text-align: center;
      }
  }
  .container{
    position: absolute;
    bottom: 25%;
    left: 15%;
    max-width: 45%;
    margin-bottom: -30px;
    @include max-screen(767px){
      max-width: 100%;
      margin: auto;
      left: 0;
    }
  }
  }
.section_2{
background-color: $white_color;
  width: 100%;
  padding-top: 155px;
  @include max-screen(767px){
    padding-top: 40px;
    margin: auto;
    text-align: center;
  }
h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'RalewaySemiBold';
  margin: 0 0 30px;
}
.line{
  display: block;
  width: 80px;
  border-top:  solid 2px $yellow_font;
  margin: auto;
  padding-bottom: 34px;
  background-color: transparent;
}
.block{
  display: inline-block;
  margin-right: 5%;
  width: 25%;
  padding-bottom: 40px;
  @include max-screen(767px){
    margin-right: 5%;
    width: 20%;
  }
  img{
    width: 100%;
  }
  p{
    float: left;
    display: block;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'RalewayMedium';
    @include max-screen(767px){
      margin-top: 10px;
      float: none;
    }
    span{
      text-transform: none;
      font-size: 14px;
      color: $yellow_font;
      font-family: 'opensans';
    }
  }
  a{
    float: right;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 15px;
    background-color: #dedede;
    margin: 30px 7px 0 0;
    @include border-radius(18px);
    @include max-screen(767px){
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  .fab{
      margin: 10px;
  }
}
.btn{
  max-width: 165px;
  line-height: 48px;
  background-color: transparent;
  display: block;
  border: solid 1px black;
  @include border-radius(25px);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'opensans';
  margin: auto;
}
}
.section_3{
  padding: 120px 0;
  width: 100%;
  background-color: $light_silver_color;
  .line {
    display: block;
    width: 80px;
    border-top: solid 2px black;
    margin: auto;
    padding-bottom: 34px;
    background-color: transparent;
  }
  .container{
    @include max-screen(767px){
      width: 70%;
    }
  }
  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'RalewaySemiBold';
    margin: 0 0 30px;
  }
.avatar{
  display: block;
  margin: auto;
  width: 90px;
  height: 90px;
  background-image: url("../images/Layer 23.png");
}
  p{
   text-align: center;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'OpenSansLight'
  }
  h3{
    text-align: center;
    font-size:16px;
    color: $yellow_font;
    margin-top: 48px;
    font-family: 'OpenSansSemibold';

  }
  .owl-nav .owl-prev:after{
    display: block;
    content: "";
    /*font-size: 25px;*/
    color: black;
    border: solid black 2px;
    border-bottom: none;
    border-right: none;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
  }
  .owl-nav .owl-prev{
    position: absolute;
    top: 45%;
    right: 100%;
    margin-right: 50px;
    outline: none;
  }
  .owl-nav .owl-next:after{
    display: block;
    content: "";
    /*font-size: 25px;*/
    color: black;
    border: solid black 2px;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
  }
  .owl-nav .owl-next{
    position: absolute;
    top: 45%;
    left: 100%;
    margin-left: 50px;
    outline: none;
  }
  p:last-child{
    margin: auto;
    font-family: 'opensans';
    padding-top: 14px;
  }
}
footer{
  background-color: $border_color;
    .background{
      background-color: $bottom_color;
      width: auto;
      padding: 80px 0 70px;
      @include max-screen(767px){
        padding: 40px 0 30px;
      }
    }
  .block{
    display: inline-block;
    width: 25%;
    float: left;
    margin-right: 5%;
    @include max-screen(767px){
      width: 45%;
      float: none;
      margin-right: 4%;
      text-align: center;
    }
    h3{
      font-size: 14px;
      color: $yellow_font;
      font-family: 'OpenSansSemibold';
    }
    p{
      font-size: 14px;
      color: #6e7279;
      font-family: 'opensans';
      margin-top: 25px;
      @include max-screen(767px){
        margin-top: 25px;
        margin-left: 15px;
        text-align: left;
      }
    }
  }
  form{
    width: 30%;
    float: right;
    @include max-screen(767px){
      width: 50%;
      float: none;
      margin: auto;
    }
    label{
      display: block;
      width: 100%;
      font-size: 14px;
      color: $yellow_font;
      font-family: 'opensans';
      text-transform: uppercase;
      @include max-screen(767px){
        text-align: center;
      }
    }
    input{
      margin-top: 25px;
      width: 100%;
      text-indent: 1.5em;
      line-height: 35px;
      color: #6e7279;
      border: solid 1px #6e7279;
      background-color: transparent;
    }
    button{
      width: 100%;
      line-height: 35px;
      margin-top: 12px;
      background-color: $yellow_font;
      color: $white_color;
      font-size: 14px;
      font-family: 'opensans';
      text-transform: uppercase;
      border: $yellow_font;
    }
  }
  p{
    float: left;
    margin: 27px 0 30px;
    font-size: 12px;
    color: #6e7279;
    font-family: 'opensans';
    @include max-screen(767px){
      margin-left: 15px;
    }
  }
  a{
    float: right;
    width: 32px;
    line-height: 32px;
    @include border-radius(16px);
    color: #6e7279;
    background-color: transparent;
    border: solid 1px #6e7279;
    font-size: 15px;
    text-align: center;
    margin: 17px 5px 0 15px;
  }
  a:hover{
    color: $white_color;
    background-color: $yellow_font;
    border: solid 1px transparent;
  }
}


